/* animation PreLoader */



.wrap {
  position: relative;
  height: 100vh;
  width: 100vw; 
  background: rgb(210, 215, 214);
  overflow: hidden;
}

  .mainCircle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  }
  